@font-face {
    font-family: Poppins-Bold;
    src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

.container {
    width: 400px;
    color: #253741;
    font-family: Poppins-Bold, serif;
}

.title {
    font-size: 16px;
    padding: 8px;
    text-align: center;
    font-family: Poppins-Bold, serif;
}

.stat-box {
    padding: 1px;
    text-align: center;
    font-family: Poppins-Regular, serif;
    font-size: 11px
}

.button {
    text-align: center;

    margin: 8px auto;
    display: block;

    /* Add a smooth transition effect when the button is hovered */
    transition: all 0.3s ease;

    /* Set the button's background color and text color */
    background-color: #1f211f;
    color: white;

    /* Add padding and rounded corners to the button */
    border-radius: 1px;

    /* Add a box shadow to give the button a 3D effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Add a hover effect to the button by changing the background color and text color */
.button:hover {
    background-color: #444444;
    color: white;
    cursor: pointer;
}

.subtitle {
    text-align: center;
    font-family: Poppins-Bold, serif;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 14px;
}

a {
    text-decoration: none;
}

span {
    color:black;
    font-size: 11px;
    font-family: Poppins-Regular, serif;
}

select {
    width: 300px;
}
