@font-face{
  font-family: Poppins-Bold;
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face{
  font-family: Poppins-Regular;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

.container {
  width: 400px;
  color: #253741;
}

.title {
  font-size: 16px;
  padding: 8px;
  text-align: center;
  font-family: Poppins-Bold, serif;
}

.stat-box {
  padding: 1px;
  text-align: center;
}

.reset-button {
  text-align: center;
}
